<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="la.chopper.mapper.CommonMapper">
    <resultMap id="BaseResultMap" type="la.chopper.domain.Common">
        <id column="common_id" property="commonId" jdbcType="BIGINT"/>
        <result column="common_goods" property="commonGoods" jdbcType="BIGINT"/>
        <result column="common_user" property="commonUser" jdbcType="BIGINT"/>
        <result column="common_content" property="commonContent" jdbcType="VARCHAR"/>
        <result column="common_date" property="commonDate" jdbcType="DATE"/>
    </resultMap>
    <sql id="Base_Column_List">
        common_id, common_goods, common_user, common_content, common_date
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from common
        where common_id = #{commonId,jdbcType=BIGINT}
    </select>
    <select id="selectCommonByCommonGoods" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
            <include refid="Base_Column_List"/>
        FROM common
        where common_goods = #{commonGoods,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM common
        WHERE common_id = #{commonId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="la.chopper.domain.Common">
        INSERT INTO common (common_id, common_goods, common_user,
                            common_content, common_date)
        VALUES (#{commonId,jdbcType=BIGINT}, #{commonGoods,jdbcType=BIGINT}, #{commonUser,jdbcType=BIGINT},
                #{commonContent,jdbcType=VARCHAR}, #{commonDate,jdbcType=DATE})
    </insert>
    <insert id="insertSelective" parameterType="la.chopper.domain.Common">
        insert into common
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="commonId != null">
                common_id,
            </if>
            <if test="commonGoods != null">
                common_goods,
            </if>
            <if test="commonUser != null">
                common_user,
            </if>
            <if test="commonContent != null">
                common_content,
            </if>
            <if test="commonDate != null">
                common_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="commonId != null">
                #{commonId,jdbcType=BIGINT},
            </if>
            <if test="commonGoods != null">
                #{commonGoods,jdbcType=BIGINT},
            </if>
            <if test="commonUser != null">
                #{commonUser,jdbcType=BIGINT},
            </if>
            <if test="commonContent != null">
                #{commonContent,jdbcType=VARCHAR},
            </if>
            <if test="commonDate != null">
                #{commonDate,jdbcType=DATE},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="la.chopper.domain.Common">
        update common
        <set>
            <if test="commonGoods != null">
                common_goods = #{commonGoods,jdbcType=BIGINT},
            </if>
            <if test="commonUser != null">
                common_user = #{commonUser,jdbcType=BIGINT},
            </if>
            <if test="commonContent != null">
                common_content = #{commonContent,jdbcType=VARCHAR},
            </if>
            <if test="commonDate != null">
                common_date = #{commonDate,jdbcType=DATE},
            </if>
        </set>
        where common_id = #{commonId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="la.chopper.domain.Common">
        UPDATE common
        SET common_goods   = #{commonGoods,jdbcType=BIGINT},
            common_user    = #{commonUser,jdbcType=BIGINT},
            common_content = #{commonContent,jdbcType=VARCHAR},
            common_date    = #{commonDate,jdbcType=DATE}
        WHERE common_id = #{commonId,jdbcType=BIGINT}
    </update>
</mapper>